.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.languages{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,160px);
    grid-template-rows: repeat(3,max-content);
    justify-content:center;
}
.frontend{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,160px);
    grid-template-rows: repeat(3,max-content);
    justify-content: center;
}
.backend{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,160px);
    grid-template-rows: repeat(3,max-content);
    justify-content: center;
}
.others{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,160px);
    grid-template-rows: repeat(3,max-content);
    justify-content: center;
}
/* .skillLevel:hover{
    cursor: pointer;
    background-image: linear-gradient(90deg, #0A192F 65%,  rgb(249 115 22) 35%);
    z-index: 1;
} */

@media  screen and (max-width : 768px) {
    .skills{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
  }